@import url('https://fonts.googleapis.com/css?family=Manrope');

.button {
  font-family: Manrope, sans-serif;
}

.defaultButton {
  font-style: normal;
  font-weight: bold;
  background: rgba(37, 138, 255, 0.16);
  border-radius: 8px;
  color: #258AFF;
  border: none;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  
}

.defaultButton_featured {
  font-style: normal;
  font-weight: bold;
  background: #258AFF;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: center;
}

.button--small {
  font-size: 14px;
  line-height: 20px;
  width: 100px;
  min-height: 40px;
  padding-left:7px;
  padding-right:7px;
}
.button--medium {
  height: 63px;
  width: 160px;
  font-size: 14px;
}
.button--large {
  line-height: 20px;
  font-size: 16px;
  height: 65px;
  width: 193px;
}

.button:hover {
  color: white;
  background: black;
}